<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Portfolio" %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header>
    </header>

    <div id="fullpage">
      <section class="vertical-scrolling">
        <div class="text-block">
          <div class="row justify-content-center banner">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
              <%= image_tag 'placeholder.png', alt: "profile photo", class: 'avatar' %>
              <h1 class="title-main">Portfolio</h1>
            </div>
          </div>
          <div class="scroll-down">
            <p>
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z" />
              </svg>
            </p>
          </div>
        </div>
      </section>
      <section class="vertical-scrolling">
        <div class="text-block">
          <div id="about">
            <h2>About me</h2>
            <p>I'm Noemí 🪷</p>
          </div>
        </div>
      </section>
      <section class="vertical-scrolling">
        <div class="horizontal-scrolling">
          <div class="text-block">
            <div id="projects">
              <h2> Projects</h2>
              <ul class="cards">
                <% data.projects.each do |project| %>
                  <li>
                    <div class="card-product">
                      <%= image_tag project.image, alt: "project image" %>
                      <div class="card-product-infos w-100">
                        <div class="d-flex justify-content-between align-items-center">
                          <h2><%= project.name %></h2>
                          <% link_to project.url, class: 'external-link', target: '_blank' do %>
                            <i class="fas fa-external-link-alt"></i>
                          <% end %>
                        </div>
                        <p><%= project.description %></p>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="horizontal-scrolling">
          <div class="text-block">
            <h2>fullPage.js Demo v4</h2>
            <h3>This is the second slide</h3>
            <p class="end">Thank you!</p>
          </div>
        </div>
      </section>
    </div>
    <footer class="page-footer">
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script>
    <script>
      $('#fullpage').fullpage({
        sectionSelector: '.vertical-scrolling',
        slideSelector: '.horizontal-scrolling',
        controlArrows: false
        // more options here
      });
    </script>
  </body>
</html>
