<% data.projects.each do |project| %>
  <section class="vertical-scrolling" data-anchor="<%= project.data_anchor%>">
    <div class="card-product">
      <% if project.index.even? %>
        <div class="card-product-infos-right">
          <div class="d-flex justify-content-start align-items-center">
            <h1><%= project.name %></h1>
            <% link_to project.url, class: "square-link", target: '_blank' do %>
              <i class="fa-solid fa-arrow-up-right-from-square" style="color: #FFDE68;"></i>
            <% end %>
          </div>
          <p><%= project.description %></p>
          <p><%= project.context %></p>
          <p>Developed with:</p>
          <div class="stack-list">
            <% project.stacks.each do |stack| %>
              <%= image_tag "../images/stack/#{stack}.png", class: "stack-img"%>
            <% end %>
          </div>
        </div>
        <%= image_tag project.image, alt: "project image" %>
      <% else %>
        <%= image_tag project.image, alt: "project image" %>
        <div class="card-product-infos-left">
          <div class="d-flex justify-content-start align-items-center">
            <h1><%= project.name %></h1>
            <% link_to project.url, class: "square-link", target: '_blank' do %>
              <i class="fa-solid fa-arrow-up-right-from-square" style="color: #FFDE68;"></i>
            <% end %>
          </div>
          <p><%= project.description %></p>
          <p><%= project.context %></p>
          <p>Developed with:</p>
          <div class="stack-list">
            <% project.stacks.each do |stack| %>
              <%= image_tag "../images/stack/#{stack}.png", class: "stack-img"%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
