<% data.projects.each do |project| %>
  <section class="vertical-scrolling" data-anchor="<%= project.data_anchor%>">
    <div class="card-product">
      <% if project.index.even? %>
        <div class="card-product-infos-right">
          <div class="d-flex justify-content-start align-items-center">
            <h1><%= project.name %></h1>
            <% link_to project.url, target: '_blank' do %>
              <i class="fa-solid fa-arrow-up-right-from-square" style="color: #fcfcfc;"></i>
            <% end %>
          </div>
          <p><%= project.description %></p>
        </div>
        <%= image_tag project.image, alt: "project image" %>
      <% else %>
        <%= image_tag project.image, alt: "project image" %>
        <div class="card-product-infos-left">
          <div class="d-flex justify-content-end align-items-center">
            <h1><%= project.name %></h1>
            <% link_to project.url, target: '_blank' do %>
              <i class="fa-solid fa-arrow-up-right-from-square" style="color: #fcfcfc;"></i>
            <% end %>
          </div>
          <p><%= project.description %></p>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
